In [73]:
import numpy as np
import pandas as pd
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.callbacks import EarlyStopping

# Basics of deep learning and neaural networks

## Forward Propogation

Forward prop is the initial pass through the model. Weights are applied to hidden layers and all the way through. Inputs -> Outputs.

In [2]:
input_data = np.array([2, 3])
weights = {'node_0':np.array([1,1]),
           'node_1':np.array([-1,1]),
           'output':np.array([2,-1])}
node_0_value = (input_data*weights['node_0']).sum()
node_1_value = (input_data*weights['node_1']).sum()

print(node_0_value, node_1_value)

5 1

In [3]:
hidden_layer = np.array([node_0_value, node_1_value])
output = (hidden_layer*weights['output']).sum()
output

9

## Activation Functions

Can be tought of as an on-off switch.

In [4]:
input_data = np.array([2, 3])
weights = {'node_0':np.array([1,1]),
           'node_1':np.array([-1,1]),
           'output':np.array([2,-1])}


node_0_value = (input_data*weights['node_0']).sum()
node_0_output = np.tanh(node_0_value)

node_1_value = (input_data*weights['node_1']).sum()
node_1_output = np.tanh(node_1_value)

hidden_layer = np.array([node_0_output, node_1_output])
output = (hidden_layer*weights['output']).sum()
output

1.2382242525694254

## Deep Neural Networks

In [5]:
input_data
weights = {'node_0_0': np.array([2, 4]),
           'node_0_1': np.array([4, -5]),
           'node_1_0': np.array([-1, 2]),
           'node_1_1': np.array([1, 2]),
           'output': np.array([2, 7])}

In [6]:
def relu(input_data):
    result = max(0, input_data)
    return result

In [7]:
def predict_network(input_data, weights):
    
    node_0_0_in = (input_data*weights['node_0_0']).sum()
    node_0_0_out = relu(node_0_0_in)
    
    node_0_1_in = (input_data*weights['node_0_1']).sum()
    node_0_1_out = relu(node_0_1_in)
    
    hidden_0_output = np.array([node_0_0_out, node_0_1_out])
    
    node_1_0_in = (hidden_0_output*weights['node_1_0']).sum()
    node_1_0_out = relu(node_1_0_in)
    
    node_1_1_in = (hidden_0_output*weights['node_1_1']).sum()
    node_1_1_out = relu(node_1_1_in)
    
    hidden_1_output = np.array([node_1_0_out, node_1_1_out])
    
    model_output = (hidden_1_output*weights['output']).sum()
    
    return model_output

In [8]:
predict_network(input_data, weights)

112

# Optimizing a Neural Network with Back Prop

## The need for optimisation

Weights need to change after each iteration to closer match the actual patterns.

In [9]:
learning_rate = 0.01
weights = np.array([1, 2])
target = 10

preds = (input_data * weights).sum()

error = preds - target

error

-2

In [10]:
gradient = 2 * input_data * error

In [11]:
weights_updated = weights - gradient*learning_rate
preds_updated = (input_data*weights_updated).sum()
error_updated = preds_updated - target
error_updated

-1.4800000000000004

In [12]:
weights_updated = weights_updated - gradient*learning_rate
preds_updated = (input_data*weights_updated).sum()
error_updated = preds_updated - target
error_updated

-0.9599999999999991

In [13]:
weights_updated = weights_updated - gradient*learning_rate
preds_updated = (input_data*weights_updated).sum()
error_updated = preds_updated - target
error_updated

-0.4399999999999977

# Building Deep Learning Models with Keras

## Creating a Keras Model

In [16]:
data = pd.read_csv('/Users/Dillon/OneDrive/Documents/DataCampML/hourly_wages.csv')
data.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [18]:
target = data.iloc[:,0]
predictors = data.iloc[:,1:]

In [19]:
n_cols = predictors.shape[1]
n_cols

9

In [20]:
model = Sequential()
model.add(Dense(100, activation = 'relu', input_shape = (n_cols,)))
model.add(Dense(100, activation = 'relu'))
model.add(Dense(1))

2021-10-31 12:28:19.634753: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

## Compiling and Fitting a Model

Need to choose: 
- Optimisation algorithm
- Loss metric

In [27]:
model.compile(optimizer = 'adam', loss = 'mean_squared_error')
model.fit(predictors, target, epochs = 2)

Epoch 1/2
17/17 [==============================] - 0s 654us/step - loss: 20.1077
Epoch 2/2
17/17 [==============================] - 0s 661us/step - loss: 17.0600

## Classification Problems

In [29]:
titanic = pd.read_csv('/Users/Dillon/OneDrive/Documents/DataCampML/titanic_all_numeric.csv')
titanic.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [32]:
target = to_categorical(titanic['survived'])
target

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [53]:
predictors = titanic.iloc[:, 1:].to_numpy()
predictors = np.asarray(predictors).astype('float32')
predictors

array([[ 3.      , 22.      ,  1.      , ...,  0.      ,  0.      ,
         1.      ],
       [ 1.      , 38.      ,  1.      , ...,  1.      ,  0.      ,
         0.      ],
       [ 3.      , 26.      ,  0.      , ...,  0.      ,  0.      ,
         1.      ],
       ...,
       [ 3.      , 29.699118,  1.      , ...,  0.      ,  0.      ,
         1.      ],
       [ 1.      , 26.      ,  0.      , ...,  1.      ,  0.      ,
         0.      ],
       [ 3.      , 32.      ,  0.      , ...,  0.      ,  1.      ,
         0.      ]], dtype=float32)

In [54]:
n_cols = predictors.shape[1]
classifier = Sequential()
classifier.add(Dense(32, activation = 'relu', input_shape = (n_cols,)))
classifier.add(Dense(2, activation = 'softmax'))

classifier.compile(optimizer = 'sgd', loss = 'categorical_crossentropy', metrics = ['accuracy'])

classifier.fit(predictors, target)

28/28 [==============================] - 0s 453us/step - loss: 4.1457 - accuracy: 0.5792

In [61]:
classifier.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 32)                352
_________________________________________________________________
dense_13 (Dense)             (None, 2)                 66
=================================================================
Total params: 418
Trainable params: 418
Non-trainable params: 0
_________________________________________________________________

In [63]:
new_predictor = np.array([[3., 25.,  1.,  0.,  8.25,  1.,  0.,  0.,  0., 1.]], dtype = 'float32')
new_target = np.array([1., 0.])

In [64]:
new_predictor.shape[1]

10

In [69]:
# Probability they survived
proba = classifier.predict(new_predictor)
proba[0][0]

0.96159613

# Fine-Tuning a Model

## Model Validation

In [71]:
classifier.fit(predictors, target, validation_split = 0.3)

20/20 [==============================] - 0s 7ms/step - loss: 0.9212 - accuracy: 0.5987 - val_loss: 1.9657 - val_accuracy: 0.6418

In [75]:
early = EarlyStopping(patience = 2)
classifier.fit(predictors, target, validation_split = 0.3, epochs = 20, callbacks = [early])

Epoch 1/20
20/20 [==============================] - 0s 3ms/step - loss: 0.7744 - accuracy: 0.5971 - val_loss: 0.5268 - val_accuracy: 0.7164
Epoch 2/20
20/20 [==============================] - 0s 1ms/step - loss: 0.6529 - accuracy: 0.6581 - val_loss: 0.5333 - val_accuracy: 0.7090
Epoch 3/20
20/20 [==============================] - 0s 1ms/step - loss: 0.6270 - accuracy: 0.6677 - val_loss: 0.6227 - val_accuracy: 0.6866